.line1{
	position: relative;
	padding: 10px;	
	
}

#centered{
	display: flex;
	justify-content: center;
	padding: 10px;
}

.line{
	padding-bottom: 20px;
}

.btn{
	width: 200px;
}

#inputLabel {
	font-size: 30px; 	
}

th, td {
	padding: 17px 70px;
	border: 1px solid;
}

table {
 		border-collapse: collapse;
}