<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Add Ingredient</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>
	.line1{
		position: relative;
		padding: 10px;	
		
	}
	
	
	.line2{
		position: relative;
		padding: 10px;

	}
	
	#centered{
		display: flex;
		justify-content: center;
	}
	
	.submitbutton{
		padding: 10px;
	}
	
	#inputlabel{
		font-size: 25px;
	}
	
	.inputbox{
		width: 300px;
	}
	
	
</style>

</head>

<body>
<div layout:fragment="content">
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	<script>
		/*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('ingredientCtrl', function($scope, $http) {
			/*
			$scope.inventoryOriginal = {
					ingredientsInv : []
				};
			*/
			console.log("HELLO");

			$scope.ingredient = {
					name: '',
					amount: ''
			};
			
			/*
			$scope.getInventory() = function() {
				$http.get("/api/v1/inventory").then(function(response) {
					$scope.inventoryOriginal = response.data;
				}, function(rejection) {
					console.error("Error while getting Inventory");
				})
				
			}
			*/
			
			$scope.putIngredient = function() {
				$scope.success = false;
				$scope.failure = false;
				
				$http.put("/api/v1/inventory/" + $scope.ingredient.name, $scope.ingredient).then(
					function(response) {
						console.log("success");
					}, function(rejection){
						$scope.failure = true;
						$scope.success = false;
						$scope.errorMessage = rejection.data.message;
						console.error("Error when putting a new ingredient");
						console.error(rejection.data.message);
					});
				$scope.success = !($scope.failue);
			}
			
			$scope.submit = function(){
				console.log("Button was clicked");
				$scope.putIngredient();
				$scope.reset();
			}
			
			//$scope.getInventory();
			
			$scope.reset = function(){
				/*
				$scope.inventoryOriginal = {
						ingredientsInv : []
					};
				*/
				$scope.ingredient = {
						name: '',
						amount: ''
				};
				
				if(undefined != $scope.addInventoryForm){
					$scope.addInventoryForm.$setPristine();
				}
			}
			
			$scope.reset();
			
		});
		/*]]>*/
	</script>
	
	<div ng-app="myApp" ng-controller="ingredientCtrl">
		<h1 style="text-align: center; font-size: 50px;">Add Ingredient</h1>
		<div class="line1" id="centered">
			<label for="ingredientname" id="inputlabel" >Ingredient Name:</label>
			<input type="text" id="ingredientname" ng-model="ingredient.name">
			
	
		</div>
		<div class="line2" id="centered">
			<label for="ingredientamount" id="inputlabel" >Ingredient Amount:</label>
			<input type="number" id=ingredeientamount ng-model="ingredient.amount">
			
		</div>
		<div class="submitbutton" id="centered" >
			<button type="button" ng-click="submit()">Add Ingredient</button>
		</div>
		
		<div ng-show="success" id="centered">Inventory Successfully Updated</div>
		<div ng-show="failure" id="centered">{{errorMessage}}</div>
	</div>
</div>


</body>
</html>