<head>

<title>My CoffeeMaker Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>
	.line1{
		position: relative;
		padding: 10px;	
		
	}
	
	#centered{
		display: flex;
		justify-content: center;
		padding: 10px;
	}
	
	.line{
		padding-bottom: 20px;
	}
	
	.btn{
		width: 200px;
	}
	
	#inputLabel {
		font-size: 30px; 	
	}
	
		
</style>

</head>

<body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	
	<script>
		/*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('homeController', function($scope, $http, $q) {
			
		
			
		})
		/*]]>*/
	</script>
	
	<div ng-app="myApp" class="generic-container ng-cloak" ng-controller="homeController">

		<h1 style="text-align: center; font-size: 30px;">Current Order</h1>
		
		<div id="centered">
			<button class="btn" type="button" >Refresh</button>
		</div>
		
		<h1 style="text-align: center; font-size: 30px;">Place New Order</h1>
		
		<div>
			<ul>
				<li ng-repeat="recipe in recipes"><label>{{recipe.name}}
						<input type="radio" ng-model="$parent.name" name="name"
						value="{{recipe.name}}" required="true" />
				</label></li>
			</ul>
			<br /> 

			<div ng-show="submissionSuccess" class="success">Coffee was
				made. Your change is {{change}}.</div>

			<div ng-show="submissionFailure">An error occurred: {{error}}</div>

		</div>
		
		<div id="centered">
			<label for="username" id="inputLabel">Enter Payment: </label>
			<input type="text" id="username">
		</div>
		
		<div id="centered">
			<button class="btn" type="button" >Order Coffee</button>
		</div>
		
		
		
		<div id="centered">
			<button class="btn" type="button" >Logout</button>
		</div>
		

	</div>

</body>