<head>

<title>My CoffeeMaker Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>
	.line1{
		position: relative;
		padding: 10px;	
		
	}
	
	#centered{
		display: flex;
		justify-content: center;
		padding: 10px;
	}
	
	.line{
		padding-bottom: 20px;
	}
	
	.btn{
		width: 200px;
	}
	
	#inputLabel {
		font-size: 30px; 	
	}
	
	th, td {
		padding: 17px 70px;
		border: 1px solid;
	}
	
	table {
  		border-collapse: collapse;
	}
	
		
</style>

</head>

<body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	
	<script>
		/*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('homeController', function($scope, $http, $q) {
			
			console.log("JS")

			
			$scope.generateRandomUsername = function(){
				adj = ["Beautiful", "Mysterious", "Energetic", "Serene", "Enchanting", "Courageous", "Intriguing", "Vibrant", "Majestic", "Radiant"]

				colors = ["Red", "Blue", "Green", "Yellow", "Purple", "Orange", "Pink", "Black", "White", "Gray"]

				animals = ["Lion", "Elephant", "Dolphin", "Penguin", "Kangaroo", "Tiger", "Giraffe", "Crocodile", "Koala", "Penguin"]

				randomElement = adj[Math.floor(Math.random() * 10)] + colors[Math.floor(Math.random() * 10)] + animals[Math.floor(Math.random() * 10)];

				return randomElement
			}
			
			$scope.generatePassword = function(){
				return "guestpassword" + Math.floor(Math.random() * 100); 
			}
			
			$scope.sendAnonUser = function(){
				$http.post("api/v1/users", $scope.anonUser).then(function(response) {
					alert("Your temprary Username: " + $scope.anonUser.username + " | Password: " + $scope.anonUser.password)
				}, function(rejection){
					$scope.anonUser.username = generateRandomUsername()
					$scope.sendAnonUser()
				})
			}
			
			$scope.validPayment = false;
			$scope.payment = 0;
			$http.get("/api/v1/recipes").then(function(response) {
				$scope.recipes = response.data;
			});
			
			$scope.currentOrderName = "N/A";
			$scope.currentOrderPrice = "N/A";
			$scope.currentOrderStatus = "N/A";
			
			$scope.isAnon = localStorage.getItem('isAnon');
			if($scope.isAnon === "true"){
				$scope.anonPassword = $scope.generatePassword()
				$scope.anonUser = {
						"username": $scope.generateRandomUsername(),
						"password": $scope.anonPassword,
						"isAnon": true,
						"submittedStaffCode": "",
						"isStaff": false,
						"orderNumber": 1
				} 
				$scope.sendAnonUser()
				$scope.currentUser = $scope.anonUser.username
				$scope.currentUserObject = $scope.anonUser
			}
			else{
				$scope.currentUser = localStorage.getItem('username');
				$http.get("api/v1/users/" + $scope.currentUser).then(function(response){
					$scope.currentUserObject = response.data
				}, function(rejection){
					console.log("could not find user")
				}).finally(function(){
					$scope.refresh()
				})
			}

			

			
			$scope.refresh = function() {
				$scope.multipleOrderError = false;
				$scope.invalidPrice = false;
				$http.get("api/v1/orders/" + $scope.currentUser + "_" + $scope.currentUserObject.orderNumber).then(function(response) {
					console.log(response);
					$scope.userOrder = response.data
					$scope.currentOrderRecipe = response.data.recipe;
					$scope.currentOrderName = response.data.recipe.name;
					$scope.currentOrderPrice = response.data.recipe.price;
					if(response.data.isFulfilled) {
						$scope.currentOrderStatus = "Fulfilled";
						$scope.orderFulfilled = true;
					} else {
						$scope.currentOrderStatus = "In Progress";
					}
				}, function(rejection) {
					console.log(rejection);
				})
			}
			
			
			$scope.pickup = function() {
				$scope.userOrder.isPickedUp = true;
				$http.put("api/v1/orders", $scope.userOrder).then(function(response) {
					console.log(response);
					$scope.currentOrderName = "N/A";
					$scope.currentOrderPrice = "N/A";
					$scope.currentOrderStatus = "N/A";
					$scope.orderFulfilled = false;
					
					//udpate the order number
					$http.put("api/v1/users/" + $scope.currentUser).then(function(response){
						console.log("order number updated")
					}, function(rejection){
						console.log("failed to update order number")
					})
					console.log($scope.currentUserObject.isAnon)
					if($scope.currentUserObject.isAnon){
						console.log("here!");
						$http.delete("api/v1/users/" + $scope.currentUser).then(function(response){
							console.log(response);
						}, function(rejection) {
							console.error(rejection);
						})
						$scope.anonLogout()
					} else {
						$scope.currentUserObject.orderNumber += 1
					}
				}, function(rejection) {
					console.error(rejection);
				})
				console.log($scope.userOrder);
			}
			
			$scope.placeOrder = function(param) {
				for (let k = 0; k <  $scope.recipes.length; k++){
					if($scope.recipes[k].name == param){
						$scope.orderRecipe = $scope.recipes[k];
					}
				}
				
				if($scope.orderRecipe.price  <= $scope.payment) {
					$scope.validPayment = true;
					$scope.orderObject = {
							recipe: $scope.orderRecipe,
							name: ($scope.currentUser + "_" + $scope.currentUserObject.orderNumber.toString()),
							isFulfilled: false,
							isPickedUp: false
					}
					
					$scope.change = parseInt($scope.payment) - parseInt($scope.orderRecipe.price);
					console.log($scope.payment);
					console.log($scope.orderRecipe.price);
					console.log($scope.change);		
					
					if ($scope.currentOrderStatus != "N/A") {
						$scope.multipleOrderError = true;
					} else {
						$http.post("api/v1/orders", $scope.orderObject).then(function(response) {
							console.log(response);
							$scope.refresh()
						}, function(rejection) {
							console.log(rejection);
						})
					}
				} else {
					$scope.invalidPrice = true;
				}
				
				
				
			}
			
			$scope.anonLogout = function() {
				window.location.href = "/"
			}
			
			$scope.logout = function() {
				window.location.href = "/login.html"
			}
		})
			
			
	</script>
	
	<div ng-app="myApp" class="generic-container ng-cloak" ng-controller="homeController">

		<h1 style="text-align: center; font-size: 30px;">Current Order For {{currentUser}}</h1>
		
		<table id="centered">
		
			<tr>
				<th>Drink</th>
				<th>Price</th>
				<th>Status</th>
			</tr>
			
			<tr>
				<td>
					<label> {{currentOrderName}} </label>
				</td>
				<td>
					<label> {{currentOrderPrice}} </label>
				</td>
				<td>
					<label> {{currentOrderStatus}} </label>
				</td>
			</tr>
		
		</table>
		
		<div id="centered">
			<button class="btn" type="button" ng-click = "refresh()" >Refresh</button>
			<button class="btn" type="button" ng-show = "orderFulfilled" ng-click = "pickup()" >Pick-Up</button>
		</div>
		
		<h1 style="text-align: center; font-size: 30px;">Place New Order</h1>
		
		<div id="centered">
			<ul>
				<li ng-repeat="recipe in recipes"><label>{{recipe.name}}: ${{recipe.price}}
						<input type="radio" ng-model="$parent.name" name="name"
						value="{{recipe.name}}" required="true" />
				</label></li>
			</ul>
			<br /> 

			<div ng-show="submissionSuccess" class="success">Coffee was
				made. Your change is {{change}}.</div>

			<div ng-show="submissionFailure">An error occurred: {{error}}</div>

		</div>
		
		<div id="centered">
			<label for="username" id="inputLabel">Enter Payment: </label>
			<input type="text" id="username" ng-model="payment">
		</div>
		
		<div id="centered">
			<button class="btn" type="button" ng-click = "placeOrder(name)" >Order Coffee</button>
		</div>
		
		<div>
			<label ng-show=multipleOrderError>Error: Cannot place more than one unfulfilled order at a time.</label>
		</div>
		
		<div>
			<label ng-show=invalidPrice>Error: Invalid price.</label>
			<label id="centered" ng-show=validPayment>Your change is ${{change}}.</label>
		</div>
		
		<div id="centered">
			<a href="login"><button>Logout</button></a>
		</div>
		

	</div>

</body>