<head>

<title>Edit Recipe</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>
	.line1{
		position: relative;
		padding: 10px;	
		
	}
	
	#centered{
		display: flex;
		justify-content: center;
	}
	
	.line{
		padding-bottom: 20px;
	}
	
	.submitbtn{
		margin-top: 20px;
	}
	
	

	
</style>

</head>

<body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	
	<script>
		/*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('editRecipeController', function($scope, $http, $q) {
			

			
			$scope.reset = function() {
				
				$scope.recipeChoice = "";
				$scope.recipeModelList = []
				
				//get the list of ingredients in the inventory
				$http.get("/api/v1/inventory").then(function(response) {
					$scope.ingredients = response.data.ingredients;
				
					//get an updated list of recipes
					$http.get("/api/v1/recipes").then(function(response) {
						$scope.recipes = response.data;
						for (let i = 0; i < $scope.recipes.length; i++){
							
							$scope.recipeIngredientList = []
							for(let j = 0; j < $scope.ingredients.length; j++){
								//for each ingredient, put a new object in the list containing:
								//ingredient name, if its in the recipe, and the amount associated with it
								$scope.ingredient = null
								for (let k = 0; k <  $scope.recipes[i].ingredients.length; k++){
									console.log($scope.recipes[i].ingredients)
									console.log(k)
									if($scope.recipes[i].ingredients[k].name == $scope.ingredients[j].name){
										$scope.ingredient = $scope.recipes[i].ingredients[k]
									}
								}
								$scope.recipeIngredientList.push({
									"name": $scope.ingredients[j].name, 
									"inRecipe":($scope.ingredient != null),
									"checked":($scope.ingredient != null),
									"amount": $scope.ingredient == null ? 0 : $scope.ingredient.amount
								})
							}
							
							$scope.recipeModelList.push({
								"name": $scope.recipes[i].name,
								"price": $scope.recipes[i].price,
								"ingredients": $scope.recipeIngredientList
							})
							
							
						}
						
						console.log($scope.recipeModelList)
					}, function(rejection){
						console.error("Error getting recipes")
					})
				})
				
			}
			
			$scope.removeIngredient = function(recipe, name){
				console.log("Sent recipe: " + recipe + " ingredient: " + name);
				for(let i = 0; i < $scope.recipeModelList.length; i++){
					if($scope.recipeModelList[i].name == recipe){
						console.log("chosen recipe:" + $scope.recipeModelList[i])
						for(let j = 0; j < $scope.recipeModelList[i].ingredients.length; j++){
							if($scope.recipeModelList[i].ingredients[j].name == name){
								console.log($scope.recipeModelList[i].ingredients[j])
								$scope.recipeModelList[i].ingredients[j].inRecipe = false;
								$scope.recipeModelList[i].ingredients[j].checked = false;
								break;
							}
						}
						break;
					}
				}
				
			}
			
			$scope.addIngredients = function(recipe){
				for(let i = 0; i < $scope.recipeModelList.length; i++){
					if($scope.recipeModelList[i].name == recipe){
						console.log("chosen recipe:" + $scope.recipeModelList[i])
						for(let j = 0; j < $scope.recipeModelList[i].ingredients.length; j++){
							if(!$scope.recipeModelList[i].ingredients[j].inRecipe && $scope.recipeModelList[i].ingredients[j].checked){
								console.log($scope.recipeModelList[i].ingredients[j])
								$scope.recipeModelList[i].ingredients[j].inRecipe = true;
							}
						}
					}
				}
			}
			
			$scope.updateRecipe = function(recipe){
				for(let i = 0; i < $scope.recipeModelList.length; i++){
					if($scope.recipeModelList[i].name == recipe){
						console.log("chosen recipe:" + $scope.recipeModelList[i])
						$scope.newIngredientsList = []
						for(let j = 0; j < $scope.recipeModelList[i].ingredients.length; j++){
							if($scope.recipeModelList[i].ingredients[j].inRecipe){
								$scope.newIngredientsList.push({
									"name": $scope.recipeModelList[i].ingredients[j].name,
									"amount": $scope.recipeModelList[i].ingredients[j].amount
								})
							}
						}
						$scope.newRecipe = {
								"name": recipe,
								"price": $scope.recipeModelList[i].price,
								"ingredients": $scope.newIngredientsList
						}
						
						$scope.success = false;
						$scope.failure = false;
						
						$http.put("/api/v1/recipes/" + recipe, $scope.newRecipe).then(
						function(response){
							console.log("Recipe successfully updated.");
							
						}, function(rejection) {
							$scope.failure = true;
							$scope.success = false;
							console.error("Error when adding recipe");
							$scope.errorMessage = rejection.data.message;
							console.log(rejection.data.message);
						}).finally(function(){
							location.reload()
						});
						$scope.success = !($scope.failue);
						
						break;
					}
				}
				$scope.reset()

			}
			
			$scope.home = function(){
				window.location.href = "/staffhome.html"
			}
			
			$scope.reset()
		})
		/*]]>*/
	</script>
	
	<div ng-app="myApp" class="generic-container ng-cloak" ng-controller="editRecipeController">

		<h1 style="text-align: center; font-size: 50px;">Edit Recipe</h1>
		<div class="line1" id="centered">
			<h1>Choose a recipe to edit</h1>
		</div>
		<div id="centered">
			Select a recipe: <br />
			<select ng-model="recipeChoice"
					ng-options="item as item.name for item in recipes"
					required="true">
				<option value="">Select Recipe</option>
			</select>
		</div>
		
		<div id=recipefields>
			<div ng-repeat="model in recipeModelList track by $index">
			
				<div class="recipe" ng-show="model.name == recipeChoice.name">
					<div class="line1" id="centered">
						<label for="ingredientname" id="inputlabel" >Recipe Name: </label>
						<input type="text" id="ingredientname" class="inputbox" ng-model="model.name" disabled="disabled">
					</div>
						
					<div class="line2" id="centered">
						<label for="recipeprice" id="inputlabel">Recipe Price: </label>
						<input type="text" id="recipeprice" class="inputbox" ng-model="model.price">
					</div>
					
					
					<div id="ingredientfields">
						<div ng-repeat="ingredient in model.ingredients track by $index">
							<div id="centered" ng-show=ingredient.inRecipe>
								<label for="units" id="inputlabel">{{ingredient.name}} Units: </label>
								<input type="number" id="units" class="inputbox" ng-model="ingredient.amount">
								<button type="button" ng-click="removeIngredient(model.name, ingredient.name)">remove</button>
							</div>
						</div>
					</div>
					
					<div id="centered" class="checkboxes">
						<div ng-repeat="ingredient in model.ingredients track by $index">
							<input type="checkbox" ng-model="ingredient.checked" ng-disabled="ingredient.inRecipe">
								<tt> {{ingredient.name}} </tt>
							</input>
						</div>
					</div>
					<div id="centered" style="padding: 20px;">
						<button type="button" class="submitbutton" ng-click="addIngredients(model.name)">Add Selected Ingredients</button>
					</div>
					<div id="centered">
						<button type="button" class="submitbutton" ng-click="updateRecipe(model.name)">Update Recipe</button>
					</div>
					
					
				</div>
				
			</div>
		</div>
		<div id="centered" style="padding: 20px;">
			<button class="btn" type="button" ng-click=home() >Home</button>
		</div>	
	</div>

</body>