<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to the CSC326 CoffeeMaker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Coffee Maker</h1>
	<h2>Available Options</h2>
	<ul>
		<li><a href="updateinventory.html">Update Inventory</a></li>
		<li><a href="addrecipe.html">Add a Recipe</a></li>
		<li><a href="editrecipe.html">Edit Recipe</a></li>
		<li><a href="deleterecipe.html">Delete Recipe</a></li>
		<li><a href="customerhome.html">Customer Home</a></li>
		<li><a href="addingredient.html">Add Ingredient</a></li>
	</ul>
</body>
</html>
