<head>

<title>Login to Coffee Maker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>
	.line1{
		position: relative;
		padding: 10px;	
		
	}
	
	#centered{
		display: flex;
		justify-content: center;
		padding: 10px;
	}
	
	.line{
		padding-bottom: 20px;
	}
	
	.btn{
		width: 100px;
	}
	
	#inputLabel {
		font-size: 30px; 	
	}
	
		
</style>

</head>

<body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	
	<script>
		/*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('loginController', function($scope, $http, $q) {
			
			$scope.reset = function(){
				$scope.enteredUsername = "";
				$scope.enteredPassword = "";
				$scope.errorMessage = "";
			}
			
			$scope.generateRandomUsername = function(){
				adj = ["Beautiful", "Mysterious", "Energetic", "Serene", "Enchanting", "Courageous", "Intriguing", "Vibrant", "Majestic", "Radiant"]

				colors = ["Red", "Blue", "Green", "Yellow", "Purple", "Orange", "Pink", "Black", "White", "Gray"]

				animals = ["Lion", "Elephant", "Dolphin", "Penguin", "Kangaroo", "Tiger", "Giraffe", "Crocodile", "Koala", "Penguin"]

				randomElement = adj[Math.floor(Math.random() * 10)] + colors[Math.floor(Math.random() * 10)] + animals[Math.floor(Math.random() * 10)];

				return randomElement
			}
			
			$scope.generatePassword = function(){
				return "guestpassword" + Math.floor(Math.random() * 100); 
			}
			
			$scope.placeAnonymousOrder = function(){
				$scope.user = {
					"username": $scope.generateRandomUsername(),
					"password": $scope.generatePassword(),
					"isAnon": true,
					"submittedStaffCode": "",
					"isStaff": false
				} 
				
				$scope.usernameFound = true
				while($scope.usernameFound){
					$http.get("api/v1/users/" + $scope.user.username).then(function(response){
						$scope.usernameFound = false
					}, function(rejection){
						$scope.user.username = $scope.generateRandomUsername()
					})
				}

				
				$http.post("api/v1/users", $scope.user).then(function(response) {
					$scope.response = response
					$scope.reset()
				}, function(rejection){
					$scope.response = rejection
					$scope.enteredStaffCode = "";
				})
				
				alert("Your temprary Username: " + $scope.user.username + " | Password: " + $scope.user.password)
			}
			
			$scope.login = function() {
				localStorage.setItem('username', $scope.enteredUsername);
				$http.get("api/v1/users/" + $scope.enteredUsername).then(function(response){
					if(response.data.password == $scope.enteredPassword){
						if(response.data.isStaff){
							window.location.href = "/staffhome.html"
						}
						else{
							window.location.href = "/customerhome.html"
						}
					}
					else{
						$scope.errorMessage = "invalid password"
					}

				}, function(rejection){
					$scope.errorMessage = "login failed"
					$scope.enteredPassword = "";
				})
			}
			
			$scope.reset()
		})
		/*]]>*/
	</script>
	
	<div ng-app="myApp" class="generic-container ng-cloak" ng-controller="loginController">

		<h1 style="text-align: center; font-size: 75px;">Coffee Maker</h1>
		
		<div id="centered">
			<label for="username" id="inputLabel">Username: </label>
			<input type="text" id="username" ng-model="enteredUsername">
		</div>
		
		<div id="centered">
			<label for="password" id="inputLabel">Password: </label>
			<input type="password" id="password" ng-model="enteredPassword">
		</div>
		
		<div id="centered">
			<button class="btn" type="button" ng-click="login()">Login</button>
		</div>
		
		<div id="centered">
			<p>{{errorMessage}}</p>
		</div>
		
		<div id="centered">
			<a href="createaccount.html"><button>Create Account</button></a>
		</div>
		
		<div id="centered">
			<a href="customerhome.html"><button>Place Anonymous Order</button></a>
		</div>
		
		

	</div>

</body>