<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Staff Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
	#centered{
		display: flex;
		justify-content: center;
		padding: 10px;
	}
</style>
<body>
	<h1 style="text-align: center; font-size: 75px;">Coffee Maker</h1>
	<h2 style="text-align: center; font-size: 40px">Available Options</h2>
	<ul style="text-align: center; font-size: 20px">
		<p><a href="updateinventory.html">Update Inventory</a></p>
		<p><a href="addrecipe.html">Add a Recipe</a></p>
		<p><a href="addingredient.html">Add Ingredient</a></p>
		<p><a href="editrecipe.html">Edit Recipe</a></p>
		<p><a href="deleterecipe.html">Delete Recipe</a></p>
		<p><a href="fulfillorder.html">View Placed Orders</a><p>
		<p><a href="orderhistory.html">View Order History</a><p>
	</ul>
	
	<div id="centered">
		<a href="login"><button>Logout</button></a>
	</div>
</body>
</html>
